@charset "utf-8";
.openbtn{
	position: relative;/*ボタン内側の基点となるためrelativeを指定*/
	background:#DCC7BE;
	cursor: pointer;
    width: 50px;
    height: 50px;
	border-radius: 5px;
}

/*ボタン内側*/
.openbtn span{
    display: inline-block;
    transition: all .4s;/*アニメーションの設定*/
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background: #463730;
    width: 45%;
}

.openbtn span:nth-of-type(1) {
	top:15px;	
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

/*activeクラスが付与されると線が回転して×に*/

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;/*真ん中の線は透過*/
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}
.nav-sp.show {
    transform: translate3d(-270px, 0 ,0);
}


/*========= レイアウトのためのCSS ===============*/

body{
	background:#f3f3f3;
    padding:20px;
}


a{
	color: #333;
	text-decoration: none;
}

.lead{
	margin:20px 0 0 0;
}
